
html { 
  background: url('images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}



h1 {
    color: #ffffff;
    font-size: 3em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h2{
	color: #ffffff;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

p {
	color: #ffffff;
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

button {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 1rem;
    font-weight: 500;
    cursor:pointer;
    color:white;
}
button:hover{
	background-color: white;
	color:black;
}
.container{
	    padding: 12em 0em 10em;
	    text-align: center;
}
.js-curl-command{
	width:30%;
	padding: 1rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 1rem;
    font-weight: 500;
    cursor:pointer;
    color:white;
    text-align: center;
    margin: auto;
	color:white;
}
